# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
cookies.txt

# Project specifics
downloads/
temp_downloads/
temp/

# Python defaults
__pycache__/
*.py[cod]
*$py.class
*.so
dist/
build/
*.egg-info/
